@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root {
    --cor-padrao-site: rgba(19, 223, 223, 0.082);
    --cor-textos: rgb(8, 80, 114);
    --cor-botoes: rgba(9, 173, 173, 0.247);
    --cor-botoes-hover: rgb(8, 80, 114);
    --cor-textos-hover: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.navbar {
    background-color: var(--cor-padrao-site) !important;
}

.navbar-collapse {
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 50px;
    font-weight: bold;
    color: var(--cor-textos);
    font-family: 'Sedgwick Ave Display', cursive;
}

.grid-descricao {
    margin: 30px;
    text-align: center;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, max-content));
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.textos-principais {
    font-family: 'Sedgwick Ave Display', cursive;
    color: var(--cor-textos);
    font-size: 20px;
}

.textos-secundarios {
    font-family: 'Karla', cursive;
    color: var(--cor-textos);
    font-size: 16px;
}

.botoes {
    font-family: 'Sedgwick Ave Display', cursive;
    background-color: var(--cor-botoes);
    color: var(--cor-textos);
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.botoes:hover {
    font-family: 'Sedgwick Ave Display', cursive;
    background-color: var(--cor-botoes-hover);
    color: var(--cor-textos-hover);
    transition: 0.5s;
}

.posicao-botao-inscreva-se {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.botao-inscreva-se {
    font-size: 25px;
    padding: 8px 32px;
}

.footer {
    background-color: var(--cor-padrao-site);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}