.posicao-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 100%;
}

.formulario {
    width: 70%;
}